services:
    postgres:
      image: postgres:15-alpine
      environment:
        POSTGRES_DB: ${DB_NAME} 
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
        interval: 10s
        timeout: 5s
        retries: 5
      networks:
        - app_network
    test_db:
      image: postgres:15-alpine
      environment:
        POSTGRES_DB: test_blog_db
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - "5433:5432"
      networks:
        - app_network
    redis:
      image: redis:7-alpine
      networks:
        - app_network
      healthcheck:
        test: ["CMD", "redis-cli", "ping"]
        interval: 10s
        timeout: 5s
        retries: 5   
    api:
      build: .
      volumes:
        - .:/app
        - ./media:/app/media
        - ./model:/app/model
      ports:
        - "8000:8000"
      environment:
        DB_HOST: postgres
      env_file:
        - .env
      depends_on:
        postgres:
          condition: service_healthy
        redis:
          condition: service_healthy
      networks:
        - app_network 
volumes:
  postgres_data:


networks:
  app_network:
    driver: bridge