services:
    postgres:
      image: postgres:15-alpine
      environment:
        POSTGRES_DB: ${DB_NAME} 
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 10s
        timeout: 5s
        retries: 5
      networks:
        - app_network
    api:
      build: .
      ports:
        - "8000:8000"
      env_file:
        - .env
      depends_on:
        postgres:
          condition: service_healthy
      networks:
        - app_network 
volumes:
  postgres_data:


networks:
  app_network:
    driver: bridge